## Часть 1: Введение в Pandas

Pandas - это библиотека Python для работы с данными. Она предоставляет мощные инструменты для анализа и манипуляции данными.

### Установка Pandas

Для начала убедитесь, что у вас установлена библиотека Pandas. Если ее нет, установите ее с помощью команды:

In [ ]:
!pip install pandas

## Импорт библиотеки
Давайте начнем с импорта библиотеки Pandas:

In [1]:
import pandas as pd

## Часть 2: Работа с данными
### Чтение данных
Мы будем использовать датасет Titanic. Давайте прочитаем данные из CSV файла.

In [2]:
# Чтение данных из файла 'titanic.csv'
# Используйте метод pd.read_csv()
# write your code here

with open('titanic.csv', 'r', encoding='utf-8-sig') as file:
    reader = pd.read_csv(file)
    print(reader)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

### Предпросмотр данных
Для первого ознакомления с данными давайте выведем первые несколько строк.

In [8]:
# Вывод первых 5 строк данных
# Используйте метод .head()
# write your code here

with open('titanic.csv', 'r', encoding='utf-8-sig') as file:
    reader = pd.read_csv(file)
    print(reader.head(n=5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

### Информация о данных
Чтобы получить общую информацию о данных, воспользуйтесь методом .info().

In [9]:
with open('titanic.csv', 'r', encoding='utf-8-sig') as file:
    reader = pd.read_csv(file)
    print(reader.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

### Работа с NaN
Часто данные содержат пропущенные значения, которые представляются как NaN (Not a Number). Pandas предоставляет удобные методы для работы с ними.

Проверка на наличие NaN. Методы fillna и dropna возвращают новые Dataframe, проверьте нет ли в них NaN

In [14]:
# Проверка на наличие NaN в DataFrame
# Используйте метод .isna()
# write your code here

with open('titanic.csv', 'r', encoding='utf-8-sig') as file:
    reader = pd.read_csv(file)
    print(reader[reader.isna().any(axis=1)])

     PassengerId  Survived  Pclass                                      Name  \
0              1         0       3                   Braund, Mr. Owen Harris
2              3         1       3                    Heikkinen, Miss. Laina
4              5         0       3                  Allen, Mr. William Henry
5              6         0       3                          Moran, Mr. James
7              8         0       3            Palsson, Master. Gosta Leonard
..           ...       ...     ...                                       ...
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0      male  22.0      1      0         A/5 21171   7.2500   NaN        S
2    female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
4      male  35.0      0      0            373450   8.0500   NaN        S
5      male   NaN      0      0            330877   8.4583   NaN        Q
7      male   2.0      3      1            349909  21.0750   NaN        S
..      ...   ...    ...    ...               ...      ...   ...      ...
884    male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
885  female  39.0      0      5            382652  29.1250   NaN        Q
886    male  27.0      0      0            211536  13.0000   NaN        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
890    male  32.0      0      0            370376   7.7500   NaN        Q

[708 rows x 12 columns]

Заполнение NaN

In [16]:
# Заполнение NaN определенным значением (например, нулем)
# Используйте метод .fillna()
# write your code here

with open('titanic.csv', 'r', encoding='utf-8-sig') as file:
    reader = pd.read_csv(file)
    missing = reader[reader.isna().any(axis=1)]
    print(missing.fillna('был Nan'))

     PassengerId  Survived  Pclass                                      Name  \
0              1         0       3                   Braund, Mr. Owen Harris
2              3         1       3                    Heikkinen, Miss. Laina
4              5         0       3                  Allen, Mr. William Henry
5              6         0       3                          Moran, Mr. James
7              8         0       3            Palsson, Master. Gosta Leonard
..           ...       ...     ...                                       ...
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
890          891         0       3                       Dooley, Mr. Patrick

        Sex      Age  SibSp  Parch            Ticket     Fare    Cabin  \
0      male     22.0      1      0         A/5 21171   7.2500  был Nan
2    female     26.0      0      0  STON/O2. 3101282   7.9250  был Nan
4      male     35.0      0      0            373450   8.0500  был Nan
5      male  был Nan      0      0            330877   8.4583  был Nan
7      male      2.0      3      1            349909  21.0750  был Nan
..      ...      ...    ...    ...               ...      ...      ...
884    male     25.0      0      0   SOTON/OQ 392076   7.0500  был Nan
885  female     39.0      0      5            382652  29.1250  был Nan
886    male     27.0      0      0            211536  13.0000  был Nan
888  female  был Nan      1      2        W./C. 6607  23.4500  был Nan
890    male     32.0      0      0            370376   7.7500  был Nan

    Embarked
0          S
2          S
4          S
5          Q
7          S
..       ...
884        S
885        Q
886        S
888        S
890        Q

[708 rows x 12 columns]

Удаление строк с NaN

In [18]:
# Удаление строк, содержащих NaN
# Используйте метод .dropna()
# write your code here
with open('titanic.csv', 'r', encoding='utf-8-sig') as file:
    reader = pd.read_csv(file)
    print("Количество строк до удаления NaN:", len(reader))
    clean_reader = reader.dropna()
    print("Количество строк после удаления NaN:", len(clean_reader))

Количество строк до удаления NaN: 891
Количество строк после удаления NaN: 183

## Часть 3: Обработка DataFrame
### Выбор данных
Pandas позволяет выбирать данные по индексам, меткам столбцов и условиям.

In [23]:
with open('titanic.csv', 'r', encoding='utf-8-sig') as file:
    reader = pd.read_csv(file)

# Выбор столбца по метке
# Используйте синтаксис DataFrame['название_столбца']
# write your code here
    print(reader['Name'].head(n=2))
    print()

# Выбор нескольких столбцов
# Используйте синтаксис DataFrame[['столбец_1', 'столбец_2']]
# write your code here
    print(reader[['PassengerId', 'Name']].head(n=2))
    print()

# Выбор строк по индексу
# Используйте метод .loc[]
# write your code here
    print(reader.loc[2])
    print()
# Выбор строк и столбцов по условию
# Используя логические операции, выберите мужчин старше 30
# write your code here
    print(reader[(reader['Sex'] == 'male') & (reader['Age'] > 30)])

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
Name: Name, dtype: object

   PassengerId                                               Name
0            1                            Braund, Mr. Owen Harris
1            2  Cumings, Mrs. John Bradley (Florence Briggs Th...

PassengerId                         3
Survived                            1
Pclass                              3
Name           Heikkinen, Miss. Laina
Sex                            female
Age                              26.0
SibSp                               0
Parch                               0
Ticket               STON/O2. 3101282
Fare                            7.925
Cabin                             NaN
Embarked                            S
Name: 2, dtype: object

     PassengerId  Survived  Pclass                                  Name  \
4              5         0       3              Allen, Mr. William Henry
6              7         0       1               McCarthy, Mr. Timothy J
13            14         0       3           Andersson, Mr. Anders Johan
20            21         0       2                  Fynney, Mr. Joseph J
21            22         1       2                 Beesley, Mr. Lawrence
..           ...       ...     ...                                   ...
867          868         0       1  Roebling, Mr. Washington Augustus II
872          873         0       1              Carlsson, Mr. Frans Olof
873          874         0       3           Vander Cruyssen, Mr. Victor
881          882         0       3                    Markun, Mr. Johann
890          891         0       3                   Dooley, Mr. Patrick

      Sex   Age  SibSp  Parch    Ticket     Fare        Cabin Embarked
4    male  35.0      0      0    373450   8.0500          NaN        S
6    male  54.0      0      0     17463  51.8625          E46        S
13   male  39.0      1      5    347082  31.2750          NaN        S
20   male  35.0      0      0    239865  26.0000          NaN        S
21   male  34.0      0      0    248698  13.0000          D56        S
..    ...   ...    ...    ...       ...      ...          ...      ...
867  male  31.0      0      0  PC 17590  50.4958          A24        S
872  male  33.0      0      0       695   5.0000  B51 B53 B55        S
873  male  47.0      0      0    345765   9.0000          NaN        S
881  male  33.0      0      0    349257   7.8958          NaN        S
890  male  32.0      0      0    370376   7.7500          NaN        Q

[202 rows x 12 columns]

### Сортировка данных
Сортировка данных по значениям столбцов.

In [26]:
# Сортировка данных по столбцу 'столбец_1' по возрастанию
# Используйте метод .sort_values()
# write your code here

with open('titanic.csv', 'r', encoding='utf-8-sig') as file:
    reader = pd.read_csv(file)
    print(reader.sort_values('Age')[['Name', 'Age']])

                                         Name   Age
803           Thomas, Master. Assad Alexander  0.42
755                 Hamalainen, Master. Viljo  0.67
644                    Baclini, Miss. Eugenie  0.75
469             Baclini, Miss. Helene Barbara  0.75
78              Caldwell, Master. Alden Gates  0.83
..                                        ...   ...
859                          Razi, Mr. Raihed   NaN
863         Sage, Miss. Dorothy Edith "Dolly"   NaN
868               van Melkebeke, Mr. Philemon   NaN
878                        Laleff, Mr. Kristo   NaN
888  Johnston, Miss. Catherine Helen "Carrie"   NaN

[891 rows x 2 columns]

### Группировка данных
Pandas также позволяет группировать данные и выполнять агрегирующие операции.

In [29]:
# Найдите долю выживших среди всех PClass
# Используйте метод .groupby()
# write your code here

with open('titanic.csv', 'r', encoding='utf-8-sig') as file:
    reader = pd.read_csv(file)
    print(reader.groupby('Pclass')['Survived'].mean())

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

## Часть 4: Задания для практики
Прочитайте данные из файла 'titanic.csv'.
Проверьте, есть ли пропущенные значения в данных и заполните их нулями.
Выведите первые 10 строк данных.
Выберите только те строки, где значение в столбце 'Age' больше 30.
Отсортируйте данные по столбцу 'Fare' в порядке убывания.
Сгруппируйте данные по столбцу 'Pclass' и вычислите средний возраст ('Age') для каждого класса.

In [35]:
with open('titanic.csv', 'r', encoding='utf-8-sig') as file:
    reader = pd.read_csv(file)
    print('Строк с Nan: ',len(reader[reader.isna().any(axis=1)]))

    reader = reader.fillna(0)
    print('Длина после замены Nan: ',len(reader))

    print('Первые 10 строк:')
    print(reader.head(n=5))

    print('Строки с Age > 30')
    print(reader[reader['Age'] > 30])

    print('Строки в порядке убыания по Fare')
    print(reader.sort_values('Fare'))

    print('Lанные по столбцу "Pclass" и вычислил средний возраст ("Age") для каждого класса')
    print(reader.groupby('Pclass')['Age'].mean())

Строк с Nan:  708
Длина после замены Nan:  891
Первые 10 строк:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500     0        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250     0        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500     0        S
Строки с Age > 30
     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
4              5         0       3
6              7         0       1
11            12         1       1
..           ...       ...     ...
873          874         0       3
879          880         1       1
881          882         0       3
885          886         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
881                                 Markun, Mr. Johann    male  33.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch    Ticket     Fare Cabin Embarked
1        0  PC 17599  71.2833   C85        C
3        0    113803  53.1000  C123        S
4        0    373450   8.0500     0        S
6        0     17463  51.8625   E46        S
11       0    113783  26.5500  C103        S
..     ...       ...      ...   ...      ...
873      0    345765   9.0000     0        S
879      1     11767  83.1583   C50        C
881      0    349257   7.8958     0        S
885      5    382652  29.1250     0        Q
890      0    370376   7.7500     0        Q

[305 rows x 12 columns]
Строки в порядке убыания по Fare
     PassengerId  Survived  Pclass                                Name  \
271          272         1       3        Tornquist, Mr. William Henry
597          598         0       3                 Johnson, Mr. Alfred
302          303         0       3     Johnson, Mr. William Cahoone Jr
633          634         0       1       Parr, Mr. William Henry Marsh
277          278         0       2         Parkes, Mr. Francis "Frank"
..           ...       ...     ...                                 ...
438          439         0       1                   Fortune, Mr. Mark
341          342         1       1      Fortune, Miss. Alice Elizabeth
737          738         1       1              Lesurer, Mr. Gustave J
258          259         1       1                    Ward, Miss. Anna
679          680         1       1  Cardeza, Mr. Thomas Drake Martinez

        Sex   Age  SibSp  Parch    Ticket      Fare        Cabin Embarked
271    male  25.0      0      0      LINE    0.0000            0        S
597    male  49.0      0      0      LINE    0.0000            0        S
302    male  19.0      0      0      LINE    0.0000            0        S
633    male   0.0      0      0    112052    0.0000            0        S
277    male   0.0      0      0    239853    0.0000            0        S
..      ...   ...    ...    ...       ...       ...          ...      ...
438    male  64.0      1      4     19950  263.0000  C23 C25 C27        S
341  female  24.0      3      2     19950  263.0000  C23 C25 C27        S
737    male  35.0      0      0  PC 17755  512.3292         B101        C
258  female  35.0      0      0  PC 17755  512.3292            0        C
679    male  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C

[891 rows x 12 columns]
Lанные по столбцу "Pclass" и вычислил средний возраст ("Age") для каждого класса
Pclass
1    32.923241
2    28.091467
3    18.177026
Name: Age, dtype: float64